<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Address</h3>
          <p>100 College Crescent
            <br>Barrie, ON L4M 5C8 CA</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/mac861995" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/u/0/112872784725361920874" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/mac861995" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/mahesh-chavan-33b720ba?trk=hp-identity-name" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>

            <li>
              <a href="https://github.com/mac8695" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>

          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Website</h3>
          <p>This website is built using Express JavaScript, HTML, Node JS in Freelance Bootstrap Theme.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Mahesh Chavan 2016
        </div>
      </div>
    </div>
  </div>
</footer>