<%include partials/header.ejs%>

<h1><%=title %></h1>
<p>
  I am a student of Georgian College’s Computer Programming Co-Op program.
  In my three semesters of study at Georgian, as well as my three-year diploma studies
  in Information Technology back in India, I have gained excellent knowledge of
  Java, SQL, Rapid application development(C#), HTML, PHP, CSS, JavaScript programming
  languages and service delivery methods. I am extremely comfortable using and troubleshooting
  various Software Applications such as Microsoft Visual Studio, phpStrom, Brackets, Microsoft Expression Web,
  MySQL Workbench, NetBeans, IBM Mainframe Z/OS. Adding more to my capabilities,
  I am highly proficient in Microsoft Office, Microsoft Project, Microsoft suit, Windows,
  Internet applications and have great Systems Analysis skills to keep track of records of various project planning phases.
</p>

<%include partials/footer.ejs%>