<%include partials/header.ejs%>

<h1><%=title%></h1>
<p>
Name : Mahesh Chavan.<br>
Address : 100 college cres,<br>
&emsp;&emsp;&emsp;&emsp; Barrie, ON L4M 5C8.<br>
Phone: 705-970-0724
</p>

<p>
  <form>
      First name: <br>
      <input type = "text" name = "firstname"><br>
      LastName:<br>
      <input type="text" name="lastname"><br>
      Email address:<br>
      <input type="email" name="email"><br>
      Message:<br>
      <textarea rows="4" cols="50"></textarea>
  </form>
</p>

<%include partials/footer.ejs%>