<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1><%=title %></h1>

  <section>
    <h2>Arduino Digital Calculator</h2>
    <p>Created a calculator using Arduino kit which was used to perform basic mathematical calculations.</p>
  </section>

<section>
<h2>Web Projects:</h2>
    <ul>
        <li>
           <a href="http://bit.ly/1MZXx4e">CMS Assignment of php </a>
        </li>
        <li>
           <a href="http://bit.ly/1UOp5w3" >Web Application of php</a>
        </li>
        <li>
          <a href="http://bit.ly/1YjLhfC" > HTML project</a>
        </li>
        <li>
          <a href="http://bit.ly/1SkKtCt" >HTML assignment</a>
        </li>
    </ul>
</section>

<section>
  <h2>Bluetooth Based PC Controller</h2>
  <p>
    Created a project in a team of four members. Created an application for mobile and laptop. The app connected both laptop and mobile via Bluetooth which was used to perform all functions of laptop using mobile.
  </p>
</section>

</body>
</html>