<%include partials/header.ejs%>

<h1><%=title%></h1>
<h3>I am able to do:</h3>
        <p><ul>
            <li> Operating Systems: 			  Windows Server 2008/2012, Linux, Mac, Mainframe z/OS</li>
            <li> Project Management: 		  MS Project, Gantt Chart, Project Life Cycle, Project Charter</li>
            <li> Database Management:	 	  MySQL Server, MS Excel, MS Access</li>
            <li> Object Oriented Programming:  Java, C#</li>
            <li> Web Programming: 			  HTML, PHP, JavaScript, CSS</li>
            <li> Database Programming:		  SQL</li>
</ul>
        </p>

<%include partials/footer.ejs%>